    
    
    <div class="section">
        <div class="container">
       
<ul>
 {{#each article}}
 <div class="row">
     <li>
            <div class="row">
    <div class="col s12">
      <div class="card" >
        <div class="card-content brown-text text-darken-2">
            
          <span class="card-title "><a href={{this.link}}><b>{{this.title}}</b></a></span>
        
          <div class="divider"></div>
          <p>{{this.summary}}</p>
        </div>
        <div class="card-action">
          <button class="btn waves-effect waves-light deep-purple darken-4 NotePop modal-trigger" href="#modal1" data-id={{this._id}} data-title={{this.title}} type="submit" name="action">Add Note
            <i class="material-icons right">assignment</i>
        </button>
        </div>
      </div>
    </div>
  </div>



         {{!-- <h1>{{this._id}}</h1> --}}
          
          
     </li>
 </div>
     {{/each}}
</ul>
</div>
    </div>

<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 id="notes"></h4>
      <div class="row">
    <form class="col s12" action="/submit" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" name="body" class="materialize-textarea"></textarea>
          <label for="textarea1">New Note</label>
        </div>
      </div>
   <input type="submit">
    </form>
  </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="large material-icons">check</i></a>
    </div>
  </div>
    
   


        