    
    
    <div class="section">
        <div class="container">
       
<ul>
 {{#each article}}
 <div class="row">
     <li>
            <div class="row">
    <div class="col s12">
      <div class="card" >
        <div class="card-content brown-text text-darken-2">
            
          <span class="card-title "><a href={{this.link}}><b>{{this.title}}</b></a></span>
        
          <div class="divider"></div>
          <p>{{this.summary}}</p>
        </div>
        <div class="card-action">
          <button class="btn waves-effect waves-light deep-purple darken-4 Saved" data-id={{this._id}} type="submit" name="action">Save Article
            <i class="material-icons right">cloud_download</i>
        </button>
        </div>
      </div>
    </div>
  </div>



         {{!-- <h1>{{this._id}}</h1> --}}
          
          
     </li>
 </div>
     {{/each}}
</ul>
</div>
    </div>
    
   


        